<div ng-controller="publicarCtrl" ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <h1>Afegeix un nou llibre</h1>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.title" placeholder="Titulo">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.genre" placeholder="Genero">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.language" placeholder="Idioma">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.year" placeholder="Año">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.author" placeholder="Autor">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.editorial" placeholder="Editorial">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="book.description" placeholder="Description">
            </md-input-container>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="publicar()" class="md-raised md-primary">Confirma</md-button>
            </md-card-actions>
        </div>
    </md-content>
</div>