<md-dialog aria-label="Nou missatge" ng-controller="MessagingCtrl">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nou missatge</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon style="width: 24px; height: 24px" md-svg-src="../img/ic_close_24px.svg"
                             aria-label="Tanca"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>Destí</label>
                            <input ng-model="newMessage.email" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Missatge</label>
                            <input ng-model="newMessage.content" type="text" required>
                        </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="sendMessage()" class="md-raised md-primary">Envia</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>