<div class="row" ng-controller="MessagingCtrl">
    <div class="col-md-3">
        <a href="#" ng-click="showComposer($event)">Nou missatge</a>
        Converses
    </div>
    <div class="co-md-9">
        Conversació
        <p class="triangle-border left">Prueba</p>
        <p class="triangle-border right">Prueba</p>
        <blockquote class="example-obtuse">
            <p>It’s not what you look at that matters, it’s what you see.</p>
        </blockquote>
        <p>Henry David Thoreau</p>

    </div>
</div>