<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
<link rel="stylesheet prefetch"
      href="../../bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css">
<!-- <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/wedeploy/demo-wechat/gh-pages/styles/vendor/devices.min.css'> -->
<link rel="stylesheet" href="../../views/messaging/messaging.css">
<div class="row" ng-controller="MessagingCtrl">
    <div class="col-md-3">
        <a href="#" ng-click="showComposer($event)"><img style="display: block;
    margin: auto;" height="64px" src="../../img/mail-unread-new.svg"></a>
        <md-content>
            <md-list flex>
                <div ng-repeat="user in users" ng-click="selectConversation(user)">
                    <md-list-item href="#" ng-if="conversations | contains:user._id" class="md-2-line">
                        <img ng-src="{{user.avatar}}" class="md-avatar" alt="{{user.name}}"/>
                        <div class="md-list-item-text">
                            <h3>{{user.name}}</h3>
                            <!-- <p>{{entry.message}}</p> -->
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </md-content>
    </div>
    <div class="col-md-9">
            <div ng-hide="finestraxat">
                <!-- Xat buit -->
                <div class="jumbotron">
                    <h1>Inicia una conversació</h1>
                    <p>Pots començar un fil de conversació, si cliques a la icona per crear un missatge nou</p>
                </div>
            </div>
            <div class="page" ng-show="finestraxat">
                <div>
                    <div>
                        <div class="chat">
                            <div class="chat-container">
                                <div class="user-bar">

                                    <div class="back">
                                        <i class="zmdi zmdi-arrow-left"></i>
                                    </div>
                                    <div class="avatar">
                                        <img src="../../img/user-identity.svg" alt="Avatar">
                                    </div>
                                    <div class="name">
                                        <span ng-repeat="user in users | filterBy: ['_id']: conversation.user">
                                            {{user.name}}</span>
                                        <span class="status"></span>
                                    </div>
                                    <div class="actions more">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </div>
                                    <div class="actions attachment">
                                        <i class="zmdi zmdi-attachment-alt"></i>
                                    </div>
                                    <div class="actions">
                                        <i class="zmdi zmdi-phone"></i>
                                    </div>
                                </div>
                                <div class="conversation">
                                    <div class="conversation-container">
                                        <div ng-repeat="message in conversation">
                                            <div class="{{message.send}}">
                                                {{message.content}}
                                                <span class="metadata"><span class="time">
                                                    {{message.date  | date : "h:mm a" }}</span>
                                                    <span class="tick"><img ng-src="{{message.tick}}">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="conversation-compose">
                                        <div class="emoji">
                                            <img src="../../img/emoji.svg">
                                        </div>
                                        <input ng-model="newMessage.content" class="input-msg" name="input"
                                               placeholder="Type a message"
                                               autocomplete="off" autofocus>
                                        <button ng-click="sendMessage(conversation.user)" class="send">
                                            <div class="circle">
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>