<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="docs-assets/ico/favicon.png">
    <title>Link3 Chat</title>
    <!-- Bootstrap core CSS -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="theme.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="whatsapp.css" rel="stylesheet">
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <button type="button" class="btn btn-sm btn-primary">Edit</button>
        <button type="button" class="btn btn-lg btn-link  ">Link3 chat</button>
    </div>
</div>
<div class="container theme-showcase">
    <div class="header"> </div>
    <p>
        <button type="button" class="btn btn-sm btn-primary">Brodcast Message</button>
        <button type="button" class="btn btn-sm btn-primary">new group</button>
    </p>
    <div class="container">
        <ul>
            <li>
                <div class="bubble"> <span class="personName">Person name:</span> <br>
                    <span class="personSay">the name of my village is Rathanpur</span> </div>
                <span class="time round">12:55 AM <span><img src="img/right.png" width="21" height="15"></span> </span> </li>
            <li>
                <div class="bubble2"> <span class="personName2">Person name:</span> <br>
                    <span class="personSay2">say hellooo yes the name of my village is rathanpur</span> </div>
                <span class=" time2 round ">12:55 PM<span><img src="img/right.png" width="21" height="15"></span></span> </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel panel-default widget">
                <div class="bubble">Person Namde <br>
                    Helloooo </div>
                <div class="bubble2">Person Namde <br>
                    Helloooo</div>
                <div class="panel-heading">
                    <h3 class="panel-title"> online</h3>
                    <span class="operson">1299</span> </div>
                <div class="panel-body">
                    <ul class="list-group ">
                        <li class="list-group-item bubble">
                            <div class="row ">
                                <div class="col-xs-10 col-md-11 "> <span class="time">12:00 AM</span>
                                    <div class="ro">
                                        <h4 class="list-group-item-heading ">person name :</h4>
                                        <p class="list-group-item-text">person name stat person name stat</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item   ">
                            <div class="row ">
                                <div class="col-xs-10 col-md-11 ">
                                    <div class="bubble2"> hellooo  bubble </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-11"> <img src="img/img.jpg"> <span class="time">12:00 AM</span>
                                    <h4 class="list-group-item-heading">person name :</h4>
                                    <p class="list-group-item-text">person name stat</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-11"> <span class="alter"><img src="img/img2.jpg"></span> <span class="timel">12:00 AM</span> <span class="alter">
                  <h4 class="list-group-item-heading ">: person name</h4>
                  </span> <span class="altertext"> person name stat</span> </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-sm btn-block" role="button"> More</a> </div>
                <div class="input-group input-group-addon">
                    <input type="text" class="form-control" placeholder="type your text">
                </div>
            </div>
        </div>
    </div>
    <div class="input-group"> <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Username">
    </div>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- <script src="docs-assets/js/holder.js"></script> -->
</body>
</html>