<header id="mu-header" ng-controller="LoginCtrl" ng-cloak>
    <md-toolbar ng-controller="HeaderCtrl" md-colors="{background: '{{primary}}'}" class="md-hue-2">
        <div class="md-toolbar-tools">

            <img class="md-icon-button" aria-label="Book2Share" src="img/kthesaurus.svg" height="48px">
            <h2 flex md-truncate><a ui-sref="starter">Book2Share</a></h2>

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="title" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="searchTitle()" type="submit"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <style>
                #menu_container_0 {
                    background-color:red;
                    position: absolute;
                    margin-top:60px;
                }
            </style>
            <div ng-controller="SettingsController" ng-show="data.cb1">
                <md-menu>
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <img ng-show="logged" src="img/preferences-desktop-notification-bell.svg"
                      height="32px">
                </img>
                </md-button>
                    <md-menu-content width="6">
                        <md-menu-item ng-repeat="item in user.notifications | limitTo: 10">
                            <md-button ng-click="markRead(item._id)" ui-sref="{{item.link}}">
                                <div layout="row">
                                    <p flex>
                                        <img ng-src="{{item.icon}}" height="24px">
                                        {{item.message}}
                                    </p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <md-button ng-hide="logged" href="#" ng-click="showAdvanced($event)" aria-label="Inicia sessió">
                Inicia sessió
            </md-button>
            <md-button ng-href="#!/register" aria-label="Registra" ng-hide="logged">
                Registra
            </md-button>
            <md-button ng-hide="!logged" href="#" ng-click="logout()" aria-label="Tanca sessió">
                Tanca sessió
            </md-button>
        </div>
    </md-toolbar>
</header>