<md-dialog-content>
            <form>
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>Nom</label>
                        <input ng-model="newUser.name" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Correu electrònic</label>
                        <input ng-model="newUser.email" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Contrasenya</label>
                        <input ng-model="newUser.password" type="password" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Repeteix la contrasenya</label>
                        <input ng-model="newUser.password" type="password" required>
                    </md-input-container>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="register()" class="md-raised md-primary">Confirma</md-button>
                    </md-card-actions>
                </md-content>
            </form>
</md-dialog-content>