<div ng-controller="BookController" ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="book in books">
                <md-card-header>
                    <md-card-avatar>
                        <img src="../../img/accessories-dictionary2.svg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{book.title}}</span>
                        <span class="md-subhead">{{book.author[0]}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Detalls</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div md-cols-sm="2">
                        <img src="../../img/accessories-dictionary2.svg" class="md-card-image" alt="Portada"
                             md-colspan-sm="1">
                        <p md-colspan-sm="1">
                            <!-- Gènere: {{book.description}}    <br> -->
                            Any: {{book.year | date:'yyyy'}} <br>
                            Llengua: {{book.language}} <br>
                            Autor: {{book.author[0]}} <br>
                            Editorial: {{book.editorial}} <br>
                            <!-- Lector actual: {{book.user}}  -->
                        </p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Nou llibre</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <a href="#" ui-sref="publicar"><img src="../../img/accessories-dictionary2.svg"></a>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>