<div ng-controller="MapController as vm">
    <style>
        .selected {background: yellow;}
        .custom-marker {
            font-size: 2em;
            padding: 10px;
            background: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: #7F7F7F solid 1px;
            text-align: center;
        }

        .custom-marker:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 7px 6px 0;
            border-color: #fff transparent;
            display: block;
            width: 0;
            z-index: 1;
            margin-left: -6px;
            bottom: -6px;
            left: 50%;
        }

        .custom-marker:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 7px 6px 0;
            border-color: #7F7F7F transparent;
            display: block;
            width: 0;
            z-index: 0;
            margin-left: -6px;
            bottom: -7px;
            left: 50%;
        }
    </style>
<ng-map zoom="8" center="[40.74, -74.18]" default-style="true">

    <custom-marker ng-repeat="p in vm.positions track by $index"
                   id="custom-marker-{{$index}}"
                   on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)"
                   position="{{p.pos}}">
        <div>
            position {{p.name}}: {{p.pos[0]}}, {{p.pos[1]}}
        </div>
    </custom-marker>

    <info-window id="foo" on-mouseover="vm.mouseover()">
        <div ng-non-bindable="">
            Lat: {{anchor.getPosition().lat()}}<br/>
            Lng: {{anchor.getPosition().lng()}}<br/>
        </div>
    </info-window>

</ng-map>
</div>