<div ng-controller="RightCtrl" ng-show="storageuser">
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content layout-padding>
            <form>
                <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput"
                           ng-model="data" md-autofocus>
                </md-input-container>
            </form>
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>

    </md-sidenav>
</div>





    <!--<div class="o_sidenav md-whiteframe-8dp o_bSidenav">
        <md-sidenav
                class="md-sidenav-right o_bSidenav"
                md-component-id="right"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="8">
            <md-toolbar class="o_bSidenav">
                <h1 class="md-toolbar-tools o_fWhiteLight">Book2Share</h1>
            </md-toolbar>
            <md-content class="o_bSidenav">
                <md-list class="md-dense" flex>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/portal">
                        <img ng-src="img/sidenav/portal.png" class="md-avatar" alt="portal"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Portal</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/user/{{storageuser._id}}">
                        <img ng-src="img/sidenav/profile.png" class="md-avatar" alt="profile"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Perfil</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/map">
                        <img ng-src="img/sidenav/map.png" class="md-avatar" alt="mapa"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Mapa</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-show="storageuser.role!=='chef'" class="md-3-line" ng-href="#!/library/{{storageuser._id}}">
                        <img ng-src="img/sidenav/library.png" class="md-avatar" alt="library"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Biblioteca</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/messaging">
                        <img ng-src="img/sidenav/training.png" class="md-avatar" alt="training"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Missatgeria</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/settings">
                        <img ng-src="img/sidenav/settings.png" class="md-avatar" alt="settings"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Paràmetres</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-click="logout()">
                        <img src="img/sidenav/logout.png" class="md-avatar" alt="logout"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Tanca sessió</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
    <md-toolbar>
    </md-toolbar> -->
</div>